{% extends 'base.html' %}
{% block head %}
<title>Tasks</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">About</h1>
    <h2 style="text-align: center">Adam</h2>
    
</div>

<div class="video"">
    <iframe style="margin-left:auto; margin-right:auto;" width="560" height="315" src="https://www.youtube.com/embed/mmzlQrWd03w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</div>
{% endblock %}

{% block footer %}
<p>Last updated on 23/05/2020</p>
{% endblock %}
