{% extends 'base.html' %}

{% block head %}
<title>Brazil</title>
{% endblock %}

{% block body %}
<h1>Brazil</h1>
<h2>Country stats:</h2>
<ul>
    <li>No. cases:</li>
    <li>etc</li>
</ul>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select city
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">São Paulo</a>
        <a class="dropdown-item" href="#">Rio de Janeiro</a>
    </div>
</div>    
{% endblock %}

{% block footer %}
{% endblock %}