{% extends 'base.html' %}

{% block head %}
<title>Where can I go?</title>


{% endblock %}

{% block body %}
<div class="container" styles="height: 100%">

    <div style="text-align: center;">
        <div class="form">
            <form action="/" method="POST" >
                <input type="text" name="content" id='content' style="width: 500px;">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <div style="padding-top: 50px;">
    {% if data.successful_result %}
        <h2>Country: {{ data.country }}</h2>
        <ul>
            <li>Population: {{ data.population }}</li>
            <li>No. COVID-19 cases: {{ data.covid_19_cases }}</li>
        </ul>
    {% endif %}

    <canvas id="line-chart" width="800" height="450"></canvas>
    <script>
        Chart.defaults.global.defaultFontColor = 'white';
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ['Jan','Feb','March','April','May','June'],
                datasets: [{ 
                    data: [86,114,106,106,107,111],
                    label: '{{ data.country }}',
                    borderColor: 'pink',
                    fill: false
                }]
            },
            options: {
                title: {
                display: true,
                text: 'COVID-19 cases'
                }
            }
        });
    </script>
    </div>    

</div>
{% endblock %}

{% block footer %}
{% endblock %}