{% extends 'base.html' %}

{% block head %}
<title>Where can I go?</title>


{% endblock %}

{% block body %}
<div class="container" styles="height: 100%">

    <div style="text-align: center;">
        <div class="form">
            <form action="/" method="POST" >
                <input type="text" name="suburb" id='suburb' style="width: 500px;">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    {% if empty < 0 %}

    {% elif empty == 0 %}
        <div style="padding-top: 50px;">
            <h2>Invalid Suburb: {{ suburb_name }}</h2>
            <h5>Please try 'bondi' (case sensitive)</h5>
        </div>

    {% else %}
        <div style="padding-top: 50px;">
            {% if sum == 0 %}
                <h2>Suburb: {{ suburb_name }} has no new cases in the past 14 days</h2>
            {% endif %}
            {% if sum > 0 %}
                <h2>Suburb: {{ suburb_name }}</h2>
                <h4>Total new cases in the past 14 days: {{ sum }}</h4>

                {% if sum > 5 %}
                    <h1 style="color:red">NO</h1>
                {% endif %}
                <ul>
                    <li>{{lables}} {{data}}</li>
                    <li></li>
                </ul>
            {% endif %}
        </div>
    

        <canvas id="line-chart" width="800" height="450"></canvas>
        <script>
            Chart.defaults.global.defaultFontColor = 'white';
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: [1,2,3,4,5,6],
                    datasets: [{ 
                        data: '{{ data }}',
                        label: '{{ suburb_name }}',
                        borderColor: 'pink',
                        fill: false
                    }]
                },
                options: {
                    title: {
                    display: true,
                    text: 'COVID-19 cases in {{ suburb_name }}'
                    }
                }
            });
        </script>  
        </div>    

    {% endif %}
</div>  
{% endblock %}

{% block footer %}
{% endblock %}