{% extends 'base.html' %}

{% block head %}
<title>Where can I go?</title>
{% endblock %}

{% block body %}

<div class="container">

    <div style="text-align: center;">
        <div class="form">
            <form action="/" method="POST" >
                <input type="text" name="content" id='content' style="width: 500px;">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>

    <div style="padding-top: 50px;">
    {% if data.successful_result %}
        <h2>Country: {{ data.country }}</h2>
        <ul>
            <li>Population: {{ data.population }}</li>
            <li>No. COVID-19 cases: {{ data.covid_19_cases }}</li>
        </ul>
    {% endif %}
    </div>

</div>
{% endblock %}

{% block footer %}
{% endblock %}